vagrant:
  enabled: true
  ip: 192.168.100.33
  swap_size: 2
  packages:
    utils: ~
    nginx: ~
    security: ~
    rbenv:
      ruby_version: 2.2.3
    nodejs: ~
    postgres_db:
      postgres_version: 9.4
    redis: ~ 
    logrotate: ~
    imageoptimizer: ~
  root_user: vagrant
  root_password: vagrant
  deployer_user: ubuntu
